name: golang-tests
on:
  push:
    branches:
      - master
      - main
  pull_request:
permissions:
  contents: read
jobs:
  golang:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
      - uses: actions/checkout@v4
      - name: Run All Tests
        run: go test ./...
